<div class="container">
  <div class="row">
    <%= form_for(Message.new, html: {class: "form-horizontal"}) do |f| %>
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">名前：</label>
      <div class="col-sm-6">
        <%= f.text_field :name, id:"inputName", class: "form-control" %>
      </div>
    <div class="col-sm-4"></div>
    </div>
    <div class="form-group">
    <label for="inputContent"class="col-sm-2 control-label">内容：</label>
    <div class="col-sm-6">
        <%= f.text_area :body, size: 40, maxlength: 20, id:"inputContent", class: "form-control" %>
    </div>
      <br>
    <div class="col-sm-4"></div>
      <%= f.submit class: "btn btn-sm btn-default" %>
      <% end %>
    </div>
      <br>
      <br>
      
    </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
        <h2>メッセージ一覧</h2>
        </div>
        <div class="panel-body">
          <% @messages.each do |message| %>
          <span class="label label-info"><%= message.name %></span>
          <%= message.body %>
          <br>
          <% end %>
        </div>
      </div>

  </div>
</div>

